/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #d7e5f2;

}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: #d7e5f2;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.btn-primary {
    margin-top: 1%;
    background-color: #007bff; /* Azul */
}
.btn-secondary{
    margin-top: 1%;
}

.btn-success {
    background-color: #28a745; /* Verde */
}
